# macOS
.DS_Store

# Docker y Logs
*.log
.docker/

# Zensical / Static Site
node_modules/
dist/
build/
.cache/

# Otros
.env

# Carpeta de salida de MkDocs / Zensical
site/

# Archivos temporales de Docker
.docker/

# Archivos de sistema
.DS_Store
Thumbs.db